doctype html
html(lang='en-US')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Pat Grasso

    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic'
    )
    link(rel='stylesheet' href='/bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='/vendor/freelancer/css/freelancer.min.css')
    link(rel='stylesheet' href='/css/404.css')
  body#page-top.index
    header
      div.center
        div.intro-text
          span.name Hm...
          a.home(href='/'): i.fa.fa-home

    script(type='text/javascript' src='/bower_components/jquery/dist/jquery.min.js')
    script.
      $('.intro-text .name').after($('<span>', {
        class: 'skills',
        text: `What the hell is ${document.location.pathname}?`
      }));
