doctype html
html(lang='en-US')
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    title Pat Grasso

    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Montserrat:400,700'
    )
    link(
      rel='stylesheet'
      href='https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic'
    )
    link(rel='stylesheet' href='bower_components/font-awesome/css/font-awesome.min.css')
    link(rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet' href='vendor/freelancer/css/freelancer.min.css')
    block css
  body#page-top.index
    include nav
    block content

    script(type='text/javascript' src='bower_components/jquery/dist/jquery.min.js')
    script(
      type='text/javascript'
      src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js'
    )
    script(type='text/javascript' src='bower_components/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='vendor/freelancer/js/jqBootstrapValidation.js')
    script(type='text/javascript' src='vendor/freelancer/js/contact_me.js')
    script(type='text/javascript' src='vendor/freelancer/js/freelancer.min.js')
    block scripts
